
<div>
    <div class="card-image">
        <img src="{{ videogame.img }}" alt="{{ videogame.titolo }}" />
    </div>
    <div class="card-content">
        <h3 class="card-title">{{ videogame.titolo }}</h3>
        <p class="card-description">{{ videogame.descrizione }}</p>
        <p class="card-genre">Genere: {{ videogame.genere }}</p>
        <p class="card-release">Rilasciato: {{ videogame.dataRilascio }}</p>
        <p class="card-price">Prezzo: €{{ videogame.prezzo }}</p>
        <p class="card-availability">Disponibilità: {{ videogame.statoDisponibilita }}</p>

        @if (!videogame.statoDisponibilita) {
        <button class=" btn btn-prenota" (click)="handleBookingModal(); onSelectGame(videogame.titolo)">Prenota</button>
        }@else {
        <button class=" btn btn-acquista" (click)="handlePurchaseModal(); onSelectGame(videogame.titolo)">Acquista</button>
        }
    </div>
</div>