<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi Siamo</title>
    <style>

    </style>
</head>

<body>

    <div class="container">

        <div class="section">
            <div class="text">
                <p>
                    La nostra palestra dispone di un ampio parco macchine moderne e all'avanguardia, che ti permettono
                    di allenarti con attrezzature di ultima generazione, per garantire risultati rapidi e sicuri. Che tu
                    voglia concentrarti sulla forza, sulla resistenza o sul miglioramento della tua forma fisica
                    generale, troverai gli strumenti ideali per ogni tipo di allenamento.
                </p>
            </div>
            <img src="./images/attrezzi.jpg" alt="Immagine di esempio">
        </div>

        <div class="section">
            <img src="./images/pt.jpeg" alt="Immagine di esempio">
            <div class="text">
                <p>
                    Offriamo anche servizi aggiuntivi come consulenze nutrizionali, personal trainer e programmi di
                    allenamento personalizzati. Ogni aspetto del
                    nostro servizio è pensato per aiutarti a raggiungere i tuoi obiettivi in modo efficace e divertente.
                </p>
            </div>
        </div>

    </div>

    <p class="claim">Cosa aspetti vieni a trovarci ! </p>

</body>

</html>